<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        <style>

            html, head, body{
                background-color : white;
            }
            /* Pour arrondir l'icône */
            #favicon {
                border-radius: 50%; /* Arrondi les coins de l'icône */
            }
        </style>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'header/header.html.twig' %}
        {% endblock %}
        
        {% block body %}{% endblock %}
    </body>
</html>
